<html>

<head>
  <link rel=stylesheet type="text/css" href="./styles.css">
  <script src="./app.ts"></script>
</head>

<body>
  <div class="container">
    <div class="forms-container" id="forms">
      {{#*inline "renderForm"}}
      {{#if (eq type "object")}}
      <object-input key="{{key}}">
        {{#each properties}}
        <label>{{@key}}</label>
        {{> renderForm key=@key}}
        {{/each}}
      </object-input>
      {{else if (eq type "array")}}
      <array-input key="{{key}}">
        {{#with items}}
        {{> renderForm}}
        {{/with}}
      </array-input>
      {{else if (eq type "enum")}}
      <enum-input key="{{key}}" options='{{{stringify options}}}'></enum-input>
      {{else if (eq type "string")}}
      <string-input key="{{key}}"></string-input>
      {{else if (eq type "number")}}
      <number-input key="{{key}}"></number-input>
      {{else if (eq type "boolean")}}
      <boolean-input key="{{key}}"></boolean-input>
      {{/if}}
      {{/inline}}
      <div class="form" id="joinGame">
        <h1 class="heading">joinGame</h1>
        <button type="button" class="submit-button">
          <span class="button-text">Submit</span>
        </button>
      </div>
      <div class="form" id="startGame">
        <h1 class="heading">startGame</h1>
        <object-input key="startGame">
          <label>roleList</label>
          <array-input key="roleList">
            <enum-input key="" options='[{"value":0,"label":"MERLIN"},{"value":1,"label":"PERCIVAL"}]'></enum-input>
          </array-input>
          <label>playerOrder</label>
          <array-input key="playerOrder">
            <string-input key=""></string-input>
          </array-input>
        </object-input>
        <button type="button" class="submit-button">
          <span class="button-text">Submit</span>
        </button>
      </div>
      <div class="form" id="proposeQuest">
        <h1 class="heading">proposeQuest</h1>
        <object-input key="proposeQuest">
          <label>questId</label>
          <string-input key="questId"></string-input>
          <label>proposedMembers</label>
          <array-input key="proposedMembers">
            <string-input key=""></string-input>
          </array-input>
        </object-input>
        <button type="button" class="submit-button">
          <span class="button-text">Submit</span>
        </button>
      </div>
      <div class="form" id="voteForProposal">
        <h1 class="heading">voteForProposal</h1>
        <object-input key="voteForProposal">
          <label>questId</label>
          <string-input key="questId"></string-input>
          <label>vote</label>
          <enum-input key="vote" options='[{"value":0,"label":"PASS"},{"value":1,"label":"FAIL"}]'></enum-input>
        </object-input>
        <button type="button" class="submit-button">
          <span class="button-text">Submit</span>
        </button>
      </div>
    </div>
    <div class="json-state">
      <pre id="state"></pre>
    </div>
  </div>
</body>

</html>