<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <script src="./app.ts"></script>
  </head>

  <body>
    <div class="container">
      <div class="forms-container" id="forms">
        {{#each methods}}
        {{#if this}}
        <method-form method="{{@key}}">
          {{> renderForm (getArgsInfo this)}}
        </method-form>
        {{else}}
        <method-form method="{{@key}}"></method-form>
        {{/if}}
        {{/each}}
      </div>
      <div class="json-state">
        <pre id="state"></pre>
      </div>
    </div>
  </body>
</html>
{{#*inline "renderForm"}}
{{#if (eq type "object")}}
<object-input{{#if key}} key="{{key}}"{{/if}}>
  {{#each properties}}
  <label>{{@key}}</label>
  {{> renderForm key=@key}}
  {{/each}}
</object-input>
{{else if (eq type "array")}}
<array-input{{#if key}} key="{{key}}"{{/if}}>
  {{#with items}}
  {{> renderForm}}
  {{/with}}
</array-input>
{{else if (eq type "enum")}}
<enum-input{{#if key}} key="{{key}}"{{/if}} options='{{{stringify options}}}'></enum-input>
{{else if (eq type "string")}}
<string-input{{#if key}} key="{{key}}"{{/if}}></string-input>
{{else if (eq type "number")}}
<number-input{{#if key}} key="{{key}}"{{/if}}></number-input>
{{else if (eq type "boolean")}}
<boolean-input{{#if key}} key="{{key}}"{{/if}}></boolean-input>
{{/if}}
{{/inline}}
