<html>
  <head>
    <link rel=stylesheet type="text/css" href="./styles.css">
    <script src="./app.ts"></script>
  </head>
  <body>
    <div class="container">
      <div class="forms-container" id="forms">
        {{#each methods}}
        {{#if (ne @key ../initialize)}}
        <div class="form" id="{{@key}}">
          <h1 class="heading">{{@key}}</h1>
          {{#each this}}
          <div>{{@key}}: {{this}}</div>
          {{/each}}
          <button type="button" class="submit-button" onClick="client.{{@key}}()" <span class="button-text">Submit</span></button>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="json-state">
        <pre id="state"></pre>
      </div>
    </div>
  </body>
</html>
