<html>
  <head>
    <link rel=stylesheet type="text/css" href="./styles.css">
    <script src="./app.ts"></script>
  </head>
  <body>
    <div class="container">
      <div class="forms-container" id="forms">
        {{#each methods}}
        {{#if (ne @key ../initialize)}}
        <div class="form" id="{{@key}}">
          <h1 class="heading">{{@key}}</h1>
          {{#each (getArgsInfo this)}}
          {{#if (ne type "enum")}}
          <label for="{{@../key}}_{{name}}">{{name}}:</label>
          <input type="text" id="{{@../key}}_{{name}}">
          <br>
          {{else}}
          <label for="{{@../key}}_{{name}}">{{name}}:</label>
          <select id="{{@../key}}_{{name}}">
          {{#each values}}
            <option>{{this}}</option>
          {{/each}}
          </select>
          <br>
          {{/if}}
          {{/each}}
          <button type="button" class="submit-button" onClick="sendData('{{@key}}'{{#join this ", " true false}}'{{name}}'{{/join}})">
            <span class="button-text">Submit</span>
          </button>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="json-state">
        <pre id="state"></pre>
      </div>
    </div>
  </body>
</html>
