<html>
  <head>
    <link rel=stylesheet type="text/css" href="./styles.css">
    <script src="./app.ts"></script>
    <link rel="import" href="../../bower_components/tags-input/tags-input.html"></script>
    <link rel="import" href="../../bower_components/tags-input/tags-input-list.html"></script>
    <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="forms-container" id="forms">
        {{#each methods}}
        {{#if (ne @key ../initialize)}}
        <div class="form" id="{{@key}}">
          <h1 class="heading">{{@key}}</h1>
          {{#each (getArgsInfo this)}}
          {{#if (ne type "enum")}}
          <label for="{{@../key}}_{{name}}">{{name}}:</label>
          <tags-input id="{{@../key}}_{{name}}" autofocus allow-duplicates label="Tags" tag-label="Add tag"></tags-input>
          <br>
          {{else}}
          <div>{{name}}: {{multi}}</div>
          <tags-input-list id="{{@../key}}_{{name}}" autofocus allow-duplicates label="Tags" tag-label="Add tag" options='[
          {{#each values}}
          {"value": "{{@index}}", "label": "{{this}}"}{{#if (ne @last true)}},{{/if}}
          {{/each}}
          ]'></tags-input-list>
          {{/if}}
          {{/each}}
          <button type="button" class="submit-button" onClick='submitToClient("{{@key}}", [{{#each (getArgsInfo this)}}"{{@../key}}_{{name}}"{{#if (ne @last true)}},{{/if}}{{/each}}])'><span class="button-text">Submit</span></button>
        </div>
        {{/if}}
        {{/each}}
      </div>
      <div class="json-state">
        <pre id="state"></pre>
      </div>
    </div>
    <script>
      function submitToClient(callback, paramElementIds) {
        const params = paramElementIds.map(p => {
          formValue = document.getElementById(p).value;
          if (Array.isArray(formValue)) {
            formValue = formValue.map(v => v.value || v);
          }
          return formValue;
        })
        client[callback](...params);
      }
    </script>
  </body>
</html>
