<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <script src="./app.ts"></script>
  </head>

  <body>
    <div class="container">
      <div class="forms-container" id="forms">
        {{#*inline "renderForm"}}
        {{#if (eq type "object")}}
        <object-input key="{{key}}">
          {{#each properties}}
          <label>{{@key}}</label>
          {{> renderForm key=@key}}
          {{/each}}
        </object-input>
        {{else if (eq type "array")}}
        <array-input key="{{key}}">
          {{#with items}}
          {{> renderForm}}
          {{/with}}
        </array-input>
        {{else if (eq type "enum")}}
        <enum-input key="{{key}}" options='{{{stringify options}}}'></enum-input>
        {{else if (eq type "string")}}
        <string-input key="{{key}}"></string-input>
        {{else if (eq type "number")}}
        <number-input key="{{key}}"></number-input>
        {{else if (eq type "boolean")}}
        <boolean-input key="{{key}}"></boolean-input>
        {{/if}}
        {{/inline}}
        <method-form method="joinGame"></method-form>
        <method-form method="startGame">
          <object-input key="startGame">
            <label>roleList</label>
            <array-input key="roleList">
              <enum-input key="" options='[{"value":0,"label":"MERLIN"},{"value":1,"label":"PERCIVAL"}]'></enum-input>
            </array-input>
            <label>playerOrder</label>
            <array-input key="playerOrder">
              <string-input key=""></string-input>
            </array-input>
          </object-input>
        </method-form>
        <method-form method="proposeQuest">
          <object-input key="proposeQuest">
            <label>questId</label>
            <string-input key="questId"></string-input>
            <label>proposedMembers</label>
            <array-input key="proposedMembers">
              <string-input key=""></string-input>
            </array-input>
          </object-input>
        </method-form>
        <method-form method="voteForProposal">
          <object-input key="voteForProposal">
            <label>questId</label>
            <string-input key="questId"></string-input>
            <label>vote</label>
            <enum-input key="vote" options='[{"value":0,"label":"PASS"},{"value":1,"label":"FAIL"}]'></enum-input>
          </object-input>
        </method-form>
      </div>
      <div class="json-state">
        <pre id="state"></pre>
      </div>
    </div>
  </body>
</html>
