import { LsotClient } from "./client";
import Vue from "vue";
import VueRouter from "vue-router";

let client: LsotClient;

function patch(obj: any, val: any, topLevel: boolean = true) {
  const [k, v] = Object.entries(val)[0];
  if (typeof v === "object" && !Array.isArray(v) && k in obj) {
    patch(obj[k], v, false);
  } else {
    Vue.set(obj, k, v);
  }
}

Vue.component("method-form", {
  props: { method: String },
  data: () => ({ value: {} }),
  template: `<div class="form" :id="method">
      <h1 class="heading">\{{method}}</h1>
      <slot :arg="method" :value="value"></slot>
      <button type="button" class="button submit" @click="submit">
        <span class="button-text">Submit</span>
      </button>
    </div>`,
  created() {
    this.$on("update", (arg: string, value: any) => {
      patch(this.value, value);
    });
  },
  methods: {
    submit() {
      if (!Object.values(this.value).every((val) => val !== null)) {
        console.error("Required fields missing");
        return;
      }
      client[this.method as keyof LsotClient](this.value as any, (error) => {
        if (error) {
          console.error(error);
        } else {
          this.value = {};
        }
      });
    },
  },
});

Vue.component("object-input", {
  props: { arg: String, required: Boolean, value: { type: Object, default: () => ({}) } },
  template: `<div><slot :value="value"></slot></div>`,
  created() {
    this.$on("update", (arg: number, value: any) => {
      this.$parent.$emit("update", this.arg, { [arg]: value });
    });
  },
});

Vue.component("array-input", {
  props: { arg: String, required: Boolean, value: { type: Array, default: () => [] } },
  template: `<div>
      <div class="form-group" v-for="(v, i) in value">
        <slot :arg="i.toString()" :value="v"></slot>
        <button class="button" type="button" @click="$parent.$emit('update', arg, i === 0 ? value : [...value.slice(0, i-1), value[i], value[i-1], ...value.slice(i+1, value.length)])">&#8593;</button>
        <button class="button" type="button" @click="$parent.$emit('update', arg, i === (value.length-1) ? value : [...value.slice(0, i), value[i+1], value[i], ...value.slice(i+2, value.length)])">&#8595;</button>
        <button class="button danger" type="button" @click="$parent.$emit('update', arg, value.slice(0, i).concat(value.slice(i+1, value.length)))">x</button>
      </div>
      <button class="button" type="button" @click="$parent.$emit('update', arg, value.concat(null))">
        <span class="button-text">Add</span>
      </button>
    </div>`,
  created() {
    this.$parent.$emit("update", this.arg, []);
    this.$on("update", (arg: string, value: any) => {
      this.$parent.$emit("update", this.arg, Object.assign([], this.value, { [Number(arg)]: value }));
    });
  },
});

Vue.component("enum-input", {
  props: { arg: String, required: Boolean, value: { type: Number, default: null }, options: Array },
  template: `<div class="select">
      <select @change="$parent.$emit('update', arg, Number($event.target.value))">
        <option disabled :selected="value === null">Select a value...</option>
        <option v-for="option in options" :value="option.value" :selected="option.value === value">
          \{{option.label}}
        </option>
      </select>
    </div>`,
  created() {
    this.$parent.$emit("update", this.arg, this.required ? null : undefined);
  },
});

Vue.component("string-input", {
  props: { arg: String, required: Boolean, value: { type: String, default: "" } },
  template: `<div class="input-group">
      <input class="input" type="text" :value="value" @input="update($event.target.value)" />
    </div>`,
  created() {
    this.$parent.$emit("update", this.arg, this.required ? null : undefined);
  },
  methods: {
    update(value: any) {
      if (value === "") {
        this.$parent.$emit("update", this.arg, this.required ? null : undefined);
      } else {
        this.$parent.$emit("update", this.arg, value);
      }
    },
  },
});

Vue.component("number-input", {
  props: { arg: String, required: Boolean, value: { type: Number, default: "" } },
  template: `<div class="input-group">
      <input class="input" type="number" :value="value" @input="update" />
    </div>`,
  created() {
    this.$parent.$emit("update", this.arg, this.required ? null : undefined);
  },
  methods: {
    update(event: any) {
      const value = event.target.value;
      if (value === "") {
        this.$parent.$emit("update", this.required ? null : undefined);
      } else {
        this.$parent.$emit("update", Number(value));
      }
    },
  },
});

Vue.component("object-display", {
  props: { value: Object },
  template: `<div><slot :value="value"></slot></div>`,
});

Vue.component("array-display", {
  data: () => ({ isOpen: true }),
  props: { value: Array },
  template: `
    <span v-if="value && value.length > 0">
      <button class="button small" type="button" v-on:click="isOpen=!isOpen">
        <span class="button-text" v-if="isOpen">-</span>
        <span class="button-text" v-else>+</span>
      </button>
      <span v-if="!isOpen">...</span>
      <div v-else v-for="v in value">
        <slot :value="v"></slot>
      </div>
    </span>`,
});

Vue.component("enum-display", {
  props: { value: Number, options: Array },
  template: `<span v-if="value != undefined">\{{options[value].label}}</span>`,
});

Vue.component("string-display", {
  props: { value: String },
  template: `<span>"\{{value}}"</span>`,
});

Vue.component("number-display", {
  props: { value: Number },
  template: `<span>\{{value}}</span>`,
});

Vue.component("boolean-display", {
  props: { value: Boolean },
  template: `<span>\{{value}}</span>`,
});

const Login = Vue.component("login", {
  data: () => ({ username: "" }),
  template: `<form @submit.prevent="handleLogin">
      <label class="label">
        Username
        <div class="input-group">
          <input class="input" v-model="username" type="text" />
        </div>
      </label>
      <button type="submit" class="button submit">
        <span class="button-text">Submit</span>
      </button>
    </form>`,
  methods: {
    handleLogin() {
      LsotClient.registerUser(this.username).then((token) => {
        sessionStorage.setItem("user", JSON.stringify({ name: this.username, token }));
        this.$router.push("/");
      });
    },
  },
});

const Home = Vue.component("home", {
  data: () => ({ stateId: "" }),
  template: `<div>
      <button type="button" class="button" @click="createState">
        <span class="button-text">Create new</span>
      </button>
      <div>Or</div>
      <form class="form-group" @submit.prevent="joinState">
        <div class="input-group">
          <input class="input" v-model="stateId" type="text" />
        </div>
        <button type="submit" class="button submit">
          <span class="button-text">Join existing</span>
        </button>
      </form>
    </div>`,
  methods: {
    createState() {
      const token = JSON.parse(sessionStorage.getItem("user")!).token;
      LsotClient.createState(token).then((stateId) => {
        this.$router.push("/state/" + stateId);
      });
    },
    joinState() {
      this.$router.push("/state/" + this.stateId);
    },
  },
});

const State = Vue.component("state", {
  data: () => ({ value: {} }),
  template: "#state-template",
  created() {
    const token = JSON.parse(sessionStorage.getItem("user")!).token;
    LsotClient.connect(token, this.$route.params.stateId, (state) => {
      this.value = state;
    }).then((c) => {
      client = c;
    });
  },
});

Vue.use(VueRouter);

const router = new VueRouter({
  mode: "history",
  routes: [
    { path: "/login", component: Login },
    { path: "/", component: Home },
    { path: "/state/:stateId", component: State },
  ],
});

router.beforeEach((to, from, next) => {
  if (to.path != "/login" && sessionStorage.getItem("user") == null) {
    next("/login");
  } else {
    next();
  }
});

new Vue({
  el: "#app",
  router,
});
