<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>

  <body>
    <div class="container" id="app">
      <div class="forms-container" id="forms">
        {{#each methods}}
        {{#if (ne @key ../initialize)}}
        {{#if this}}
        <method-form method="{{@key}}" v-slot="{ arg, value }">
          {{> renderForm (getArgsInfo this)}}
        </method-form>
        {{else}}
        <method-form method="{{@key}}"></method-form>
        {{/if}}
        {{/if}}
        {{/each}}
      </div>
      <div class="json-state">
        {{#with types}}
        {{> renderState (getArgsInfo PlayerState)}}
        {{/with}}
      </div>
    </div>
    <script src="./app.ts"></script>
  </body>
</html>

{{#*inline "renderForm"}}
{{#if (eq type "object")}}
<object-input {{#if arg}}arg="{{arg}}" :value="value.{{arg}}"{{else}}:arg="arg" :value="value"{{/if}} v-slot="{ value }">
  {{#each properties}}
  <label>{{@key}}</label>
  {{> renderForm arg=@key}}
  {{/each}}
</object-input>
{{else if (eq type "array")}}
<array-input {{#if arg}}arg="{{arg}}" :value="value.{{arg}}"{{else}}:arg="arg" :value="value"{{/if}} :value="value" v-slot="{ arg, value }">
  {{#with items}}
  {{> renderForm}}
  {{/with}}
</array-input>
{{else if (eq type "enum")}}
<enum-input {{#if arg}}arg="{{arg}}" :value="value.{{arg}}"{{else}}:arg="arg" :value="value"{{/if}} :options='{{{stringify options}}}'></enum-input>
{{else if (eq type "string")}}
<string-input {{#if arg}}arg="{{arg}}" :value="value.{{arg}}"{{else}}:arg="arg" :value="value"{{/if}}></string-input>
{{else if (eq type "number")}}
<number-input {{#if arg}}arg="{{arg}}" :value="value.{{arg}}"{{else}}:arg="arg" :value="value"{{/if}}></number-input>
{{else if (eq type "boolean")}}
<boolean-input {{#if arg}}arg="{{arg}}" :value="value.{{arg}}"{{else}}:arg="arg" :value="value"{{/if}}></boolean-input>
{{/if}}
{{/inline}}

{{#*inline "renderState"}}
{{#if (eq type "object")}}
<object-display :value="value">
  {{#each properties}}
  <template v-slot:{{@key}}="{ value }">
    {{> renderState}}
  </template>
  {{/each}}
</object-display>
{{else if (eq type "array")}}
<array-display :value="value" v-slot="{ value }">
  {{#with items}}
  {{> renderState}}
  {{/with}}
</array-display>
{{else if (eq type "enum")}}
<enum-display :value="value" :options='{{{stringify options}}}'></enum-display>
{{else if (eq type "string")}}
<string-display :value="value"></string-display>
{{else if (eq type "number")}}
<number-display :value="value"></number-display>
{{else if (eq type "boolean")}}
<boolean-display :value="value"></boolean-display>
{{/if}}
{{/inline}}
