import React, { useEffect, useState } from "react";
import ReactDOM from "react-dom";
import { BrowserRouter, Route, Switch, useHistory, useParams } from "react-router-dom";
import { ToastContainer, Zoom, toast } from "react-toastify";
{{#if auth.google}}
import { GoogleLogin } from "react-google-login";
{{/if}}
import { RtagClient, RtagConnection } from "./client";
import { {{makeRequestName initialize}}, {{userState}} as UserState } from "./types";
import { RtagContext } from "./context";
import { Page } from "./Page";
import { Forms, InitializeForm } from "./Forms";
import { State } from "./State";

const client = new RtagClient(import.meta.env.VITE_APP_ID);

function App() {
  const [connection, setConnection] = useState<RtagConnection>();
  const [state, setState] = useState<UserState>();
  const [token, setToken] = useState<string | null>(sessionStorage.getItem("token"));
  const [openMethods, setOpenMethods] = useState(false)
  const history = useHistory();

  useEffect(() => {
    const location = history.location;
    if (location.hash.length > 0) {
      sessionStorage.setItem("token", location.hash.substring(1));
      setToken(location.hash.substring(1));
      history.replace(location.pathname);
    }
  }, [history]);

  if (token === null) {
    return (<Page openMethods={openMethods} setOpenMethods={setOpenMethods} user={null} state={null}>
        <Login setToken={setToken} /></Page>);
  }

  const user = RtagClient.getUserFromToken(token);
  return (
    <>
      <Page openMethods={openMethods} setOpenMethods={setOpenMethods} user={user} state={state}>
      <div id="app">
        <Switch>
          <Route exact path="/state/:stateId">
            <Main
              state={state}
              connection={connection}
              onConnect={(stateId) =>
                client
                  .connectExisting(token, stateId, setState)
                  .then((conn) => setConnection(conn))
                  .catch((e) => toast.error("Connection error: " + e.reason))
              }
              onDisconnect={() => {
                if (connection !== undefined) {
                  connection.disconnect();
                  setConnection(undefined);
                  setState(undefined);
                }
              }}
              openMethods={openMethods}
              setOpenMethods={setOpenMethods}
            />
          </Route>
          <Route exact path="/">
            <Home
              onConnect={(request) =>
                client
                  .connectNew(token, request, setState)
                  .then((conn) => {
                    setConnection(conn);
                    history.push(`/state/${conn.stateId}`);
                  })
                  .catch((e) => toast.error("Connection error: " + e.reason))
              }
            />
          </Route>
          <Route path="/">
            <div>Not Found</div>
          </Route>
        </Switch>
      </div>
      </Page>
    </>
  );
}

function Login({ setToken }: { setToken: (token: string) => void }) {
  return (
    <div className="login w-full flex flex-col md:justify-center">
      <div className="w-6/12 m-auto">
        <h2 className="text-base text-xl font-semibold text-gray-900">Login</h2>
        <div className="flex flex-col mt-2">
      {{#each auth}}
        {{#if (eq @key "anonymous")}}
          <div className="w-6/12 mb-4">
            <button
              type="button"
              onClick={() =>
                client
                  .loginAnonymous()
                  .then((token) => {
                    sessionStorage.setItem("token", token);
                    setToken(token);
                  })
                  .catch((e) => toast.error("Authentication error: " + e.reason))
              }
              className="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
            Login (Anonymous)
            </button>
          </div>
      {{else if (eq @key "google")}}

        <div className="w-6/12">
          <GoogleLogin
            clientId="{{clientId}}"
            onSuccess={({ tokenId }: any) =>
              client
                .loginGoogle(tokenId)
                .then((token) => {
                  sessionStorage.setItem("token", token);
                  setToken(token);
                })
                .catch((e) => toast.error("Authentication error: " + e.reason))
            }
            />
        </div>
      {{/if}}
    {{/each}}
      </div>
    </div>
  </div>
  );
}

function Home({ onConnect }: { onConnect: (request: {{makeRequestName initialize}}) => void }) {
  const [stateId, setStateId] = useState<string>("");
  const history = useHistory();
  return (
    <div className="home w-full flex flex-col md:justify-center">
      <div className="w-6/12 m-auto">
        <h2 className="text-base text-xl font-semibold text-gray-900">Home</h2>
        <div className="flex flex-col mt-2">
          <div className="w-6/12 mb-4">
            <InitializeForm submit={onConnect} />
          </div>
          <div className="w-6/12">
            <input
                    type="text"
                    value={stateId}
                    onChange={(e) => setStateId(e.target.value)}
            className="focus:ring-indigo-500 focus:border-indigo-500 mb-2 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
            />
            <button
              type="button"
              onClick={() => history.push(`/state/${stateId}`)}
              className="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            >
              Join Existing
            </button>
          </div>
        </div>
      </div>
    </div>
  );
}

type MainProps = {
  state: UserState | undefined;
  connection: RtagConnection | undefined;
  onConnect: (stateId: string) => void;
  onDisconnect: () => void;
  openMethods: boolean;
  setOpenMethods: (v: boolean) => void;
};
function Main({ state, connection, onConnect, onDisconnect, openMethods, setOpenMethods }: MainProps) {
  const { stateId } = useParams<{ stateId: string }>();
  useEffect(() => {
    if (connection === undefined) {
      onConnect(stateId);
    }
    return onDisconnect;
  }, [connection]);

  if (state === undefined || connection === undefined) {
    return <div>Loading...</div>;
  }

  return (
    <RtagContext.Provider value=\{{ connection, state }}>
      <State />
      <Forms open={openMethods} setOpen={setOpenMethods} />
    </RtagContext.Provider>
  );
}

ReactDOM.render(
  <BrowserRouter>
    <App />
    <ToastContainer position="top-center" autoClose={2000} transition={Zoom} hideProgressBar />
  </BrowserRouter>,
  document.getElementById("root")
);
