import React, { useRef, useLayoutEffect, useContext, useState, useEffect } from "react";
import { MinusSmIcon, PlusSmIcon, UserCircleIcon } from "@heroicons/react/solid";
import { getUserDisplayName, lookupUser, UserData } from "./base";
import { RtagConnection } from "./client";
import { RtagContext } from "./context";
import {
  {{userState}} as UserState,
  {{#each types}}
  {{@key}},
  {{/each}}
} from "./types";
{{#each plugins}}
import {{this}}Plugin from "../plugins/{{this}}";
{{/each}}
{{#each plugins}}

window.customElements.define("{{makePluginName this}}", {{this}}Plugin);
{{/each}}

function KVDisplay(props: { label: string; children: JSX.Element }) {
  return (
    <div className="kv-display">
      <span className="font-bold">{props.label}: </span>
      {props.children}
    </div>
  );
}

function ArrayDisplay<T>(props: { value: T[]; children: (value: T) => JSX.Element }) {
  const [isCollapsed, setIsCollapsed] = useState<boolean>(props.value && props.value.length > 7 ? true : false);

  let icon;
  if (isCollapsed) {
    icon = <PlusSmIcon className="w-3 h-3 fill-current" aria-hidden="true" />;
  } else {
    icon = <MinusSmIcon className="w-3 h-3 fill-current" aria-hidden="true" />;
  }
  return (
    <span className={`array-display`}>
      {props.value && props.value.length > 0 && (
        <span className="align-middle mr-0.5">
          <button
            type="button"
            onClick={() => setIsCollapsed(!isCollapsed)}
            className="inline-flex items-center text-sm font-medium text-gray-700 bg-gray-100 border border-gray-700 rounded-md shadow-sm hover:bg-gray-200 hover:text-gray-900 hover:border-gray-900 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-indigo-500 disabled:opacity-50"
          >
            {icon}
          </button>
        </span>
      )}
      [
      {props.value && props.value.length > 0 && (
        <>
          <span className="text-sm italic text-gray-500">
            {props.value.length} {props.value.length === 1 ? "item" : "items"}
          </span>
          {!isCollapsed && (
            <div className={`flex ${typeof props.value[0] === "object" ? "flex-row overflow-x-auto" : "flex-col"}`}>
              {props.value.map((val, i) => (
                <div className={`array-item`} key={i}>
                  {props.children(val)}
                </div>
              ))}
            </div>
          )}
          {isCollapsed && "..."}
        </>
      )}
      ]
    </span>
  );
}

function OptionalDisplay<T>(props: { value: T | undefined; children: (value: T) => JSX.Element }) {
  return <span className="optional-display">{props.value !== undefined ? props.children(props.value) : ""}</span>;
}

function EnumDisplay(props: { value: number; enum: object }) {
  const labels = Object.entries(props.enum)
    .filter(([_, value]) => typeof value === "number")
    .map(([label, _]) => label);
  return <span className="enum-display">{labels[props.value]}</span>;
}

function UserIdDisplay({ value }: { value: string }) {
  const [isCollapsed, setIsCollapsed] = useState<boolean>(true);
  const [userData, setUserData] = useState<UserData>();
  useEffect(() => {
    lookupUser(value).then(setUserData);
  }, [value]);
  if (userData === undefined) {
    return (
      <div className="p-1 m-1 bg-white border rounded object-display">
        <span className="user-display flex items-center">
          <UserCircleIcon className="inline flex-shrink-0 mr-1.5 h-5 w-5 text-gray-500" aria-hidden="true" />
          {value}
        </span>
      </div>
    );
  }

  let icon;
  if (isCollapsed) {
    icon = <PlusSmIcon className="w-3 h-3 fill-current" aria-hidden="true" />;
  } else {
    icon = <MinusSmIcon className="w-3 h-3 fill-current" aria-hidden="true" />;
  }

  return (
    <div className="p-1 m-1 bg-white border rounded object-display">
      <div className="flex justify-between items-center">
        <span className="user-display flex items-center">
          <UserCircleIcon
            className="inline align-middle flex-shrink-0 mr-1.5 h-5 w-5 text-gray-500"
            aria-hidden="true"
          />
          {getUserDisplayName(userData)}
        </span>

        <span className="align-middle mr-0.5">
          <button
            type="button"
            onClick={() => setIsCollapsed(!isCollapsed)}
            className="inline-flex items-center text-sm font-medium text-gray-700 bg-gray-100 border border-gray-700 rounded-md shadow-sm hover:bg-gray-200 hover:text-gray-900 hover:border-gray-900 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-indigo-500 disabled:opacity-50"
          >
            {icon}
          </button>
        </span>
      </div>
      {!isCollapsed && (
        <div className="mt-1">
          <div className="kv-display">
            <span className="font-bold">UserId: </span>
            <StringDisplay value={userData.id} />
          </div>
          <div className="kv-display">
            <span className="font-bold">type: </span>
            <StringDisplay value={userData.type} />
          </div>
        </div>
      )}
    </div>
  );
}

function StringDisplay({ value }: { value: string }) {
  return <span className="string-display">"{value}"</span>;
}

function IntDisplay({ value }: { value: number }) {
  return <span className="int-display">{value}</span>;
}

function FloatDisplay({ value }: { value: number }) {
  return <span className="float-display">{value}</span>;
}

function BooleanDisplay({ value }: { value: boolean }) {
  return <span className="boolean-display">{value ? "true" : "false"}</span>;
}

function PluginDisplay<T>({
  value,
  component,
  isCollapsible,
}: {
  value: T;
  component: string;
  isCollapsible: boolean;
}) {
  const { state, connection } = useContext(RtagContext)!;
  const ref = useRef<{ val: T; state: UserState; client: RtagConnection }>();
  useLayoutEffect(() => {
    if (ref.current) {
      ref.current.val = value;
      ref.current.state = state;
      ref.current.client = connection;
    }
  });
  const [isCollapsed, setIsCollapsed] = useState<boolean>(false);
  let icon;
  if (isCollapsed) {
    icon = <PlusSmIcon className="w-3 h-3 fill-current" aria-hidden="true" />;
  } else {
    icon = <MinusSmIcon className="w-3 h-3 fill-current" aria-hidden="true" />;
  }
  return (
    <>
      {!isCollapsed ? (
        <div>
          {isCollapsible && (
            <span className="align-middle mr-0.5">
              <button
                type="button"
                onClick={() => setIsCollapsed(!isCollapsed)}
                className="inline-flex items-center text-sm font-medium text-gray-700 bg-gray-100 border border-gray-700 rounded-md shadow-sm hover:bg-gray-200 hover:text-gray-900 hover:border-gray-900 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-indigo-500 disabled:opacity-50"
              >
                {icon}
              </button>
            </span>
          )}
          <div className="p-1 plugin-display">{React.createElement(component, { ref })}</div>
        </div>
      ) : (
        <div className="p-1 m-1 bg-white border rounded object-display">
          {isCollapsible && (
            <span className="align-middle mr-0.5">
              <button
                type="button"
                onClick={() => setIsCollapsed(!isCollapsed)}
                className="inline-flex items-center text-sm font-medium text-gray-700 bg-gray-100 border border-gray-700 rounded-md shadow-sm hover:bg-gray-200 hover:text-gray-900 hover:border-gray-900 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-indigo-500 disabled:opacity-50"
              >
                {icon}
              </button>
            </span>
          )}
          <span className="text-sm italic text-gray-500">plugin collapsed</span>
        </div>
      )}
    </>
  );
}

{{#each types}}
{{#if (eq type "object")}}
function {{@key}}Display({ value, isCollapsible }: { value: {{@key}}, isCollapsible: boolean  }) {
  const [isCollapsed, setIsCollapsed] = useState<boolean>(false);
  let icon;
  if (isCollapsed) {
    icon = <PlusSmIcon className="w-3 h-3 fill-current" aria-hidden="true" />;
  } else {
    icon = <MinusSmIcon className="w-3 h-3 fill-current" aria-hidden="true" />;
  }
  return (
    <>
      {!isCollapsed ? (
        <div className="p-1 m-1 bg-white border rounded object-display">
          {isCollapsible && (
            <span className="align-middle mr-0.5">
              <button
                type="button"
                onClick={() => setIsCollapsed(!isCollapsed)}
                className="inline-flex items-center text-sm font-medium text-gray-700 bg-gray-100 border border-gray-700 rounded-md shadow-sm hover:bg-gray-200 hover:text-gray-900 hover:border-gray-900 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-indigo-500 disabled:opacity-50"
              >
                {icon}
              </button>
            </span>
          )}
          {{#each properties}}
          <KVDisplay label="{{@key}}">
            {{> renderDisplay arg=@key isCollapsible=true}}
          </KVDisplay>
          {{/each}}
        </div>
      ) : (
        <div className="p-1 m-1 bg-white border rounded object-display">
          {isCollapsible && (
            <span className="align-middle mr-0.5">
              <button
                type="button"
                onClick={() => setIsCollapsed(!isCollapsed)}
                className="inline-flex items-center text-sm font-medium text-gray-700 bg-gray-100 border border-gray-700 rounded-md shadow-sm hover:bg-gray-200 hover:text-gray-900 hover:border-gray-900 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-indigo-500 disabled:opacity-50"
              >
                {icon}
              </button>
            </span>
          )}
          <span className="text-sm italic text-gray-500"> object collapsed</span>
        </div>
      )}
    </>
  );
}

{{else if (eq type "union")}}
function {{@key}}Display({ value }: { value: {{@key}} }) {
  switch (value.type) {
    {{#each options}}
    case "{{@key}}":
      return {{> renderDisplay arg="val" isCollapsible=true}};
    {{/each}}
  }
}

{{/if}}
{{/each}}
export function State() {
  const { state: value } = useContext(RtagContext)!;
  return (
    <div className="w-full font-mono text-gray-700 state-display">
      {{> renderDisplay (lookup types userState) isCollapsible=false}}
    </div>
  );
}
{{#*inline "renderDisplay"}}
{{#if (eq type "plugin")}}
<PluginDisplay {{#if arg}}value={ value.{{arg}} }{{else}}value={value}{{/if}} component="{{makePluginName typeString}}" isCollapsible={ {{isCollapsible}} } />
{{else if (eq type "object")}}
<{{typeString}}Display {{#if arg}}value={ value.{{arg}} }{{else}}value={value}{{/if}} isCollapsible={ {{isCollapsible}} } />
{{else if (eq type "union")}}
<{{typeString}}Display {{#if arg}}value={ value.{{arg}} }{{else}}value={value}{{/if}} isCollapsible={ {{isCollapsible}} } />
{{else if (eq type "array")}}
<ArrayDisplay<{{> renderTypeArg items}}> {{#if arg}}value={ value.{{arg}} }{{else}}value={value}{{/if}}>
  {(value) => 
    {{> renderDisplay items isCollapsible=true}}
  }
</ArrayDisplay>
{{else if (eq type "optional")}}
<OptionalDisplay<{{> renderTypeArg}}> {{#if arg}}value={ value.{{arg}} }{{else}}value={value}{{/if}}>
  {(value) => 
    {{> renderDisplay item isCollapsible=isCollapsible}}
  }
</OptionalDisplay>
{{else if (eq type "enum")}}
<EnumDisplay {{#if arg}}value={ value.{{arg}} }{{else}}value={value}{{/if}} enum={ {{typeString}} } />
{{else if (eq typeString "UserId")}}
<UserIdDisplay {{#if arg}}value={ value.{{arg}} }{{else}}value={value}{{/if}} />
{{else if (eq type "string")}}
<StringDisplay {{#if arg}}value={ value.{{arg}} }{{else}}value={value}{{/if}} />
{{else if (eq type "int")}}
<IntDisplay {{#if arg}}value={ value.{{arg}} }{{else}}value={value}{{/if}} />
{{else if (eq type "float")}}
<FloatDisplay {{#if arg}}value={ value.{{arg}} }{{else}}value={value}{{/if}} />
{{else if (eq type "boolean")}}
<BooleanDisplay {{#if arg}}value={ value.{{arg}} }{{else}}value={value}{{/if}} />
{{/if}}
{{/inline}}
{{#*inline "renderTypeArg"}}
{{#if alias}}
{{typeString}}
{{~else if (eq type "optional")}}
{{> renderTypeArg item}}
{{~else if (eq type "array")}}
{{> renderTypeArg items}}[]
{{~else if (eq type "int")}}
number
{{~else if (eq type "float")}}
number
{{~else if (eq type "string")}}
string
{{~else if (eq type "boolean")}}
boolean
{{~else if (eq type "plugin")}}
{{> renderTypeArg item}}
{{~else}}
{{makeRequestName @key}}
{{~/if}}
{{/inline}}
